@font-face {
  font-family: 'Port Lligat Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Port Lligat Slab'), local('PortLligatSlab-Regular'), url(http://fonts.gstatic.com/s/portlligatslab/v5/CUEdhRk7oC7up0p6t0g4P6uAt5ZXbnuhCpdKjKODxso.ttf) format('truetype');
}
