/* ------------------------------------------------------------------ */
/* Chimera                                                            */
/*                                                                    */
/* Two columns, spanning zones above and below.                       */
/*                                                                    */
/* Defaults to 980px wide, columns 640px and 320px.                   */
/* ------------------------------------------------------------------ */

/* Clamp the entire content of the page to a fixed width,
 * and center it.
 */
div#gridClamp
{
  clear:both;
  margin:0 auto;
  overflow:hidden;
  width:980px;
}

div#gridHeader,
div#gridFooter
{
  clear:both;
  float:left;
  width:980px;
}

/* Main content div, below the navigation. Here basically to provide
 * a background color.
 */
div#gridMain
{
  clear:both;
  float:left;
  width:980px;
}

div#gridSpanningHeader,
div#gridSpanningFooter
{
  clear:both;
  float:left;
  width:980px;
}

div#gridMainColumn
{
  float:left;
  margin:5px 0 5px 5px;
  width:590px;
}

div#gridMainSidebar
{
  float:right;
  margin:5px 5px 5px 0;
  width:370px;
}


