/* SF Weekly */
/* ------------------------------------------------------------------------------  */
/* REMEMBER! REMEMBER! REMEMBER! REMEMBER! REMEMBER! REMEMBER! REMEMBER! REMEMBER! */
/*                                                                                 */ 
/*              ALL CUSTOM STYLES MUST BE ADDED TO MOBILE STYLES AS WELL!          */
/*                                                                                 */
/*                                                                                 */ 
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------ */
/* Element Defaults */
/* ------------------------------------------------------------------ */
 
/* These got reset by reset.css. */
p { margin: 1.12em 0 }
strong { font-weight: bold }
em { font-style: italic }

/* Fonts and such. */
body {
  font-family: 'Helvetica Neue',Arial,sans-serif;
  font-size: 78%;
  color: #222;
}

a
{
  color:#c00;
  text-decoration:none;
}
  a:hover
  {
    color:#c00;
    text-decoration:underline;
  }

  .error404 {
      padding: 15px;
  }
/* ------------------------------------------------------------------ */
/* Common Class Defaults */
/* ------------------------------------------------------------------ */

/* clearfix - for closing elements containing floats across browsers */
.clearfix:after {
  content:"."; 
  display:block; 
  height:0; 
  clear:both; 
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
/* End hide from IE-mac */


/* Image editor button needs higher z-index on navigation. */
div.imgeditor_button
{
  z-index:5700002 !important;
}

a.inlineEdit, span.inlineEdit {
  font-family: Arial, Helvetica, Verdana, sans-serif!important;
  font-weight:normal!important;
  font-size:10px!important;
  color:#999!important;
  text-decoration:none!important;
  text-transform:uppercase;
}
  a.inlineEdit:hover, span.inlineEdit:hover { color:#C70E0F!important; }

.hidden_element { display:none; }
.image_magnify {
  position:absolute;
  top:0;
  right:10px;
  width:16px;
  height:16px;
}
.clicktozoom {
    display:none;
    text-align:right;
    font-size:9px;
    text-decoration:none;
    position: absolute;
    margin: 1px 4px;
    opacity: .5;
}

.headline, .headline a {
    text-decoration: none;
}


.excerpt {                   /* XXX Where is this used? */
    background: #EEEEEF;
    padding: 15px;
    margin: 10px 15px;
    border: 1px dotted #666;
}
.notice
{
    background-color:#FFFFCC;
    margin:0;
    padding:9px;
    text-align:center;
}
.pagination { font-size: 10px; }

div.storyPagination {
  font-size: 1.1em;
}

a.memberThumb {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
}


  input.searchbox:focus { outline: none; }
.postBody iframe, #storyBody iframe {display:block;margin:1.12em auto;}
.BlogButton {
  display: block;
  width: 140px;
  height: 45px;
  background-repeat: no-repeat;
  text-indent: -6000px;
}

/* Comment counts (in teasers, for example). */
span.commentCount {display:none;}


/* ------------------------------------------------------------------ */

div.tools {
    color: #757673;
    background: #FFF;
    border: 1px solid #CED0CD;
}
div.tools h3 {
    padding: 5px 0;
    border: 1px solid #FFF;
    border-bottom: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: none;
}
div.tools h4 {
    padding: 0 0 3px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}
div.tools *+h4 { padding-top: 8px; }
div.tools ul {
    border: 1px solid #fff;
    border-top: none;
}
div.tools ul li {
    border-top: 1px solid #FFF;
    font-size: 13px;
  }
  div.tools ul li.shareLink {
    padding: 2px 5px;
  }
div.tools ul li a {
    background-repeat: no-repeat;
    background-position: 5px center;
    display: block;
    padding: 4px 0 4px 28px;
    text-transform: uppercase;
    font-size: .8em;
    color: #666;
    text-decoration: none;
}
div.tools ul li * a,
div.tools ul li.shareLink a {
    display: inline;
    padding: 0;
}
div.tools ul li.l1 {
    padding: 5px;
}
div.tools ul li.l0 ul {
    margin-bottom: 5px;
}

  div.tools div.togglePanel {
    padding: 5px;
    background-color: #D3DCDE;
}
  div.horizontalToolsTogglePanel {
    padding: 5px;
    background-color:#E3E2D5;
  }
div.tools div.togglePanel textarea,
div.tools div.togglePanel input[type=text] {
    width: 132px;
    padding: 2px;
    border: solid 1px #ccc;
}
div.tools div.loading {
    /* loader image from ajaxload.info */
    background-image: url(../images/icons/toolsloader.gif);
    background-repeat: no-repeat;
    background-position: 0px center;
    padding: 0 20px;
}
li.loading /* For AJAX panels in Calendar search and similar. */
{
    background: url('../foundation/images/loaders/spinner-trans.gif') center center no-repeat;
    width:100%; height:100px;
    clear:both;
}
/* Pop calendar over page content. */
div.dnCalendar {
  z-index:9001;
}

div.tools a.emailAction {
    background-image: url(../images/icons/article_tools/email.gif);
}
div.tools a.printAction {
    background-image: url(../images/icons/article_tools/print.gif);
}
div.tools a.shareAction {
    background-image: url(../images/icons/article_tools/share.gif);
}
div.tools a.saveAction {
    background-image: url(../images/icons/article_tools/favourites.gif);
}
div.tools a.commentItem {
    background-image: url(../images/icons/article_tools/comment.gif);
}
div.tools a.reminderAction {
    background-image: url(../images/icons/article_tools/remind.gif);
}
div.tools a.favoriteAction {
    background-image: url(../images/icons/article_tools/favourites.gif);
}
div.tools a.listAction {
    background-image: url(../images/icons/article_tools/save.gif);
}
div.tools a.icalAction {
    background-image: url(../images/icons/article_tools/ical.gif);
}
div.tools a.addAction {
    display: block;
    padding: 5px 0 5px 18px;
    background-repeat: no-repeat;
    background-position: 0px center;
    background-image: url(../images/icons/article_tools/add.gif);
}
  div.tools form a.addAction {
    background-image: none;
    padding:5px;
    text-decoration: none;
    color: #FFF;
  }


  div.horizontalTools a.emailAction {
        background: url(../images/icons/article_tools/email.gif) no-repeat;
        padding-left: 20px;
    }
  div.horizontalTools a.printAction {
      background: url(../images/icons/article_tools/print.gif) no-repeat;
      padding-left: 20px;
  }
  div.horizontalTools a.shareAction {
      background: url(../images/icons/article_tools/share.gif) no-repeat;
      padding-left: 20px;
  }
  div.horizontalTools a.saveAction {
      background: url(../images/icons/article_tools/favourites.gif) no-repeat;
      padding-left: 20px;
  }
  div.horizontalTools a.commentItem {
      background: url(../images/icons/article_tools/comment.gif) no-repeat;
      padding-left: 20px;
  }
  div.horizontalTools a.reminderAction {
      background: url(../images/icons/article_tools/remind.gif) no-repeat;
      padding-left: 20px;
  }
  div.horizontalTools a.favoriteAction {
      background: url(../images/icons/article_tools/favourites.gif) no-repeat;
      padding-left: 20px;
  }
  div.horizontalTools a.listAction {
      background: url(../images/icons/article_tools/save.gif) no-repeat;
      padding-left: 20px;
  }
  div.horizontalTools a.icalAction {
      background: url(../images/icons/article_tools/ical.gif) no-repeat;
      padding-left: 20px;
  }

    div.horizontalTools {
        background-color:#FFF;
        border:1px solid #D6D7D9;
        float:left;
        margin-bottom:10px;
        width:100%;
    }
    div.horizontalTools ul {
        padding:0 8px;
      }
      body.Aurora7Zone div#gridMainColumn div.horizontalTools ul {
        padding: 0;
      }
    div.horizontalTools li.l0 {
        float:left;
        margin:0 5px;
        padding:1px 8px;
        height: 16px;
      }
      div.horizontalTools li.shareLink a {
        display: block;
        float: right;
        padding-top: 2px;
        padding-left: 4px;
        }
        div.horizontalTools li.shareLink a.toolIconLink {
          display: inline;
          float: left;
          padding: 0;
        }
        div.tinyTools li a.toolIconLink {
          float: left;
          padding: 0 5px 0 0 !important;
          background: none !important;
        }
      body.Aurora7Zone div#gridMainColumn div.horizontalTools li.l0 {
        margin:0 2px;
        padding:1px 2px;
        height: 16px;
        }
        body.Aurora7Zone div#gridMainColumn div.horizontalTools li.shareLink a {
          display: block;
          float: right;
          padding-top: 2px;
          padding-left: 4px;
          }
          body.Aurora7Zone div#gridMainColumn div.horizontalTools li.shareLink a.toolIconLink {
            display: inline;
            float: left;
            padding: 0;
          }
      div.horizontalTools li.l0 a {
        text-decoration:none;
        font-size:.85em;
        color: #666;
        text-transform: uppercase;
      }
    div.horizontalToolsTogglePanel {
      width:auto!important;
      height:auto!important;
      padding:10px;
    }
      div.horizontalToolsTogglePanel .toolsInner {
        padding:5px;
      }
        div.horizontalToolsTogglePanel .toolsInner h3 {
          margin:5px 0;
        }
    div.horizontalToolsTogglePanel ul li.l1 {
        background: #FEFEFE;
        padding: 2px;
        margin: 2px 0;
    }

div.processOutput {
  background: #ffffcc;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffff00;
}

/* ------------------------------------------------------------------ */

div.tinyTools {
    background-color: #FFF;
    float: right;
    font-size: 10px;
    line-height: 1em;
    margin-left: 5px;
    padding: 8px 7px;
    width: 116px;
    border-color: #E4E4E4 #C3C3C3 #C3C3C3 #E4E4E4;
    border-style: solid;
    border-width: 1px;
}
div.tinyTools h3 {
    font-size: 10px;
    line-height: 1em;
    font-weight: bold;
    margin-top:0;
}
div.tinyTools h4 {
    margin: 5px 0 2px 0;
    font-size: 10px;
    font-weight: bold;
}
div.tinyTools ul {
    margin: 10px 0 0 0;
}
div.tinyTools ul li.l0 {
    border-bottom: solid 1px #E3E3E3;
    margin-bottom: 4px;
}
div.tinyTools ul li.l0 a {
  background: #FFF;
  background-repeat: no-repeat;
  display: block;
  padding: 4px;
  text-decoration: none;
}
div.tinyTools div.togglePanel ul {
    margin: 0;
}
div.tinyTools div.togglePanel {
    padding: 4px;
}
div.tinyTools div.togglePanel textarea,
div.tinyTools div.togglePanel input[type=text] {
    width: 102px;
    padding: 2px;
    border: solid 1px #ccc;
}

/* ------------------------------------------------------------------ */

/* Fancybox overrides. */
div#fancybox-overlay {z-index:5800000;} /* Over ads and nav bar. */
div#fancybox-wrap {z-index:5800001 !important;} /* Over ads and nav bar and overlay. */
div#fancybox-close {z-index:5800002;} /* Over ads and nav bar and overlay and box. */

/* Image editor overrides. */
div.imgeditor_shade {z-index:5800000 !important;} /* Over ads and nav bar. */
div.imgeditor_chrome {z-index:5800001 !important;} /* Over ads and nav bar and overlay. */
div.imgeditor_close {z-index:5800002 !important;} /* Over ads and nav bar and overlay and box. */

/* ------------------------------------------------------------------ */

div.flipBook {
    position: relative;
}
div.flipBook .credit {
    text-transform: uppercase;
    text-align: right;
    font-size: 9px;
    font-style: italic;
    color: #888;

}
div.flipBook .credit a{
    color: inherit;
}
div.flipBook div.photoGridWrap {
    text-align: center;
    border-top: 1px dotted #000;
    margin-top: 1em;
    
}
div.flipBook div.photoGrid {
    display: inline-block;
    padding: .5em 0 0 0;
    width:260px;
}
div.flipBook div.photoGrid a,
div.flipBook div.photoGrid a:link,
div.flipBook div.photoGrid a:visited,
div.flipBook div.photoGrid a:hover {
    position: relative;
    float: left;
    text-decoration: none;
    border: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 1px solid #999;
    margin: 3px 5px 4px 0;
    width: 57px;
    height: 57px;
}
div.flipBook div.photoGrid a:hover {
    width: 61px;
    height: 61px;
    left: -2px;
    top: -2px;
    margin-right: 1px;
    margin-bottom: 0px;
}


/* ------------------------------------------------------------------ */
/* Comments */
/* ------------------------------------------------------------------ */
div.commentsHeader a.feedLink {
  background:transparent url(../images/rss-small.gif) no-repeat top center;
  color:transparent;
  font-size:.7em;
  text-decoration:none;
  text-indent:-6000px;
}

/* ------------------------------------------------------------------ */
/* Inline Images */
/* ------------------------------------------------------------------ */

.contentImageCenter {
  text-align:center;
}
.contentImageRight {
  float:right;
  margin-left:10px;
  position:relative;
}
.contentImageLeft {
  float:left;
  margin-right:10px;
  position:relative;
}

.postBody h1,
#storyBody h1,
.postBody h2,
#storyBody h2,
.postBody h3,
#storyBody h3,
.postBody h4,
#storyBody h4,
.postBody h5,
#storyBody h5,
.postBody h6,
#storyBody h6   {
margin: 0 0 10px;
line-height:1.1;
}

/* blog images */  
.postBody img.blogImageLeft,
.postBody img.blogImageRight,
.postBody img.blogImageCenter
{
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #CCCCCC;
    display:block;
    margin:5px;
    padding:5px;
    text-align:center;
}
.postBody img.blogImageLeft {
    float:left;
    display:inline;
    margin:0 10px 10px 0;
}
.postBody img.blogImageRight {
    float:right;
    display:inline;
    margin:0 0 10px 10px;
}
.postBody img.blogImageCenter {
    display:inline;
    margin:0 10px 0 10px;
}

div.blogImageRight {
    float: right;
    margin: 0 0 5px 10px;
    }
div.blogImageCenter {
    clear: both;
    margin: 10px auto;
    }
div.blogImageLeft {
    float: left;
    margin: 0 10px 5px 0;
    }
div.blogImageCenter ul,
div.blogImageLeft ul,
div.blogImageRight ul {
    padding: 0;
    margin: 0;
    color: #636363;
    font-family: Arial,Helvetica,sans-serif;
    font-size: .9em;
    text-align: right;
    margin-top: -5px;
    }
    ul li.imageCredit,
		div.MainColumn .magnumContainer .credit {
      font-size: .9em;
      list-style-type: none !important;
      list-style-position: outside !important;
      text-align: right;
      margin-top:.6em;
      margin-bottom:.2em;
      float:right;
          color: #888!important;
    font-weight: bold!important;
    width: 100%;
    line-height: 1;

    }
		ul li.imageCredit a,
		div.MainColumn .magnumContainer .credit a {
			text-decoration: none;
		}
    ul li.imageCaption,
		div.MainColumn .magnumContainer .caption  {
      text-align: left;
      font-size: .9em;
      color: #444;
      list-style-type: none !important;
      list-style-position: outside !important;
      line-height:1.2em;
      margin-top:.6em;
      margin-bottom:.2em;
      float:left;
          color: #888!important;
    font-weight: bold!important;
    width: 100%;
    line-height: 1;
    }

/* Digital Issue styles [Issue Archives] */

li.digitalIssue {
  padding-top: 5px;
}
a.digitalIcon {
  background: #EEF url(../images/icons/paper.html) no-repeat scroll 1px center;
  padding: 1px 3px 1px 15px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #CCE;
  }
  
  #archiveIssueHeader ul {
    margin-bottom: 15px;
  }
  #archiveIssueHeader a.digitalIcon {
    font-size: .8em;
    background: #EEF url(../images/icons/paper-large.html) no-repeat scroll 2px center;
    padding-left: 25px;
  }

/* Twitter Feed */
#TwitterFeed {
  background:#fff;
  padding: 0;
}
  #TwitterFeed h2.widget_head {
    text-align:center;
    padding:5px 10px;
    background:#004961 url(../images/icons/twitter-bird.gif) no-repeat 1px 1px;
  }
  #TwitterFeed h2.widget_head a {
    color:#fff;
    text-decoration:none;
    }
    div#TwitterFeed.MainColumn h2.widget_head {
      text-align: left;
      background: transparent;
      padding: 0;
    }
    div#TwitterFeed.MainColumn h2.widget_head a {
      color: #FF6900;
      font-size: 16px;
      background: ;
    }
#twitter_div {
  padding: 0 5px 5px;
}  
#twitter_div ul {
  padding: 0;
  overflow: hidden;
}
#twitter_div ul li {
  margin:5px 0 0;
  padding:5px;
  background:#fff;
  font-size:0.9em;
  border-bottom: 2px solid #ebebeb;
  color: #000;
  }
  #twitter_div ul li a.twitterTime {
    color: #979797;
    font-style: italic;
    font-size: .9em;
    font-family: Georgia,serif;
    text-decoration: none;
  }
a.widget_link {
  text-align:center;
  display:block;
  font-size:0.8em;
  width:100%;
  background:#004961;
  color:#fff;
  padding:2px 0;
  }
  div#TwitterFeed.MainColumn a.widget_link {
    color: #222;
    background: #EEE;
  }
  
#locationsGroup.displayOptional {
  display: block;
}

/* narrow search options bar */
div.searchedFor ul.narrowOptionsBar {
  position:absolute; 
  right:-10px; 
  top:17px; 
  margin-top:4px;
  padding: 2px 0 1px; 
  background-color:#600; /* for dropdown menu */
  -webkit-box-shadow:0 10px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:0 10px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
div.searchedFor ul.narrowOptionsBar li {clear:both; margin-bottom: 2px; display:block; text-transform: none;}
div.searchedFor ul.narrowOptionsBar li a {
  display:block; 
  padding:1px 30px 2px 20px;
  color: #fff; 
  font-size: 12px; 
  text-decoration:none; 
}
div.searchedFor ul.narrowOptionsBar li a:hover {color:#600;background-color:#fff;}
div.searchedFor .sortBar {
  float:right;
  margin-left:1em;
  text-align:right;
  position:relative;
}
div.searchedFor .sortBarHeader {font-size:12px;color:#600;}
div.searchedFor .sortBarHeader a {
  display:inline-block;
  height:16px;
  margin-left:0;
  padding:0 18px 0 0;
  background:transparent url(../images/buttons/sort-arrows.png) right bottom no-repeat;
  color:#600;
  text-decoration:none; 
  outline: 0;
  }
div.searchedFor .sortBarHeader a.active {}


div.Ad
{
  text-align:center;
}
  div.Ad.MainSidebar
  {
    background:white;
    border:0;
    padding:0;
  }
  div.Ad>div.placeholder
  {
    background-color:silver; /* Proofing. */
    color:white; /* Proofing. */
  }
    div.Ad.Leaderboard>div
    {
      width:728px;
      margin-left:auto; margin-right:auto;
    }
    div.Ad.Earlug>div,
    div.Ad.HalfPage>div,
    div.Ad.MediumRectangle>div
    {
      width:300px;
    }
      body#Home div.Ad.MediumRectangle>div
      {
        margin:0 auto;
      }


/* ------------------------------------------------------------------ */
/* Basic Grid Setup                                                   */
/* ------------------------------------------------------------------ */

/* Contain floats. */
div.GlobalHeader:after,
div.SpanningHeader:after,
div.MainColumn:after,
div.MainSidebar:after,
div.SpanningFooter:after,
div.GlobalFooter:after
{
  display: block;
  visibility: hidden;
  content: ".";
  line-height: 0;
  clear: both;
}

/* Common header setup. */
div.SpanningHeader h2.componentHeader,
div.MainColumn h2.componentHeader,
div.MainSidebar h2.componentHeader,
div.MainSidebar>h3.componentHeader,
div.SpanningFooter h2.componentHeader
{
  color: white;
  text-align: center;
  font-size:1em;
  font-weight:bold;
  line-height: 1.2em;
  padding: 0;
}
  div.SpanningHeader h2.componentHeader .componentTitle,
  div.MainColumn h2.componentHeader .componentTitle,
  div.MainSidebar h2.componentHeader .componentTitle,
  div.MainSidebar>h3.componentHeader .componentTitle,
  div.SpanningFooter h2.componentHeader .componentTitle
  {
    background-color: black;
    border: 2px solid black;
    padding: 0.25em;
    color: #fff;
    text-transform: uppercase;
  }

div#gridLeader
{
  background:black;
}

div#gridHeader
{
  margin-top:10px;
}
  div.GlobalHeader
  {
    float:left;
    width:100%;
    margin-bottom:10px;
  }

div#gridSpanningFooter {margin-top:20px;}

div.SpanningHeader,
div.SpanningFooter
{
  margin-bottom:20px;
}
  div.SpanningHeader h2.componentHeader,
  div.SpanningFooter h2.componentHeader
  {
    border: 1px solid gray;
    position: relative;
    height: 0;
    margin-bottom: 2em;
  }
    div.SpanningHeader h2.componentHeader .componentTitle,
    div.SpanningFooter h2.componentHeader .componentTitle
    {
      position: relative;
      top: -1em;
    }

div#gridMainColumn {}
  body#Content div#gridMainColumn,
  body#Blog div#gridMainColumn,
  body#Post div#gridMainColumn,
  body#Slideshow div#gridMainColumn
  {
    background-color:white;
    border:1px solid #c3c3c3;
    border-color:#e4e4e4 #c3c3c3 #c3c3c3 #e4e4e4;
    padding:10px !important;
    width:630px !important;
  }
body#Section div.MainColumn,
body#Category div.MainColumn
{
  border:2px solid gray;
 margin: 10px 0 30px;
  padding:25px 10px 10px;
  position:relative;
}
  body#Section div.MainColumn h2.componentHeader,
  body#Category div.MainColumn h2.componentHeader
  {
    border-bottom:none;
    clear:both;
    margin-bottom:0;
    left:0;
    width:100%;
    position:absolute;
    top:-1em;
  }

div#gridMainSidebar {}
  body#Home div#gridMainSidebar{
margin: 15px 0 0;
  }
div.MainSidebar {
  border:2px solid gray;
  margin:1em 0 2em;
  padding:1.5em 5px 5px;
  position:relative;
}
  div.MainSidebar:first-child
  {
    margin-top:0;
  }
  div.MainSidebar h2.componentHeader,
  div.MainSidebar>h3.componentHeader
  {
    border-bottom:none;
    clear:both;
    margin-bottom:0;
    left:0;
    width:100%;
    position:absolute;
    top:-1em;
  }
    div.MainSidebar h2.componentHeader a,
    div.MainSidebar>h3.componentHeader a
    {
      color:white;
    }
    div.MainSidebar.Ad>div
    {
      margin:0 auto;
    }

body div#gridAdSidebar {padding:0} /* Override styles from grid. */

div#gridFooter {clear:both}

div.GlobalFooter
{
}


/* Chimera grid sizing. */
body.Chimera div#gridMainColumn {width:650px;}
body.Chimera div#gridMainSidebar {width:300px;}


/* Yorick-5-Zone customizations. */
body.Yorick5Zone div#gridMainColumn
{
  width:540px;
}

body.Yorick5Zone div#gridAdSidebar
{
  background-color:transparent;
  width:180px;
  margin:12px;
}

body.Yorick5Zone div#gridCloser
{
  clear:both;
  margin:0 auto;
  width:980px;
}
  body.Yorick5Zone div.Closer {overflow:hidden;}



/* ------------------------------------------------------------------ */
/* Layout-specific setup                                              */
/* ------------------------------------------------------------------ */

/* Content page components. */
body#Content div.MainColumn>h3
{
  font-size:2em;
  line-height:1em;
  color:#717171;
  border-bottom:1px solid #c3c3c3;
  margin:0 0 10px;
  font-family:'Helvetica Neue',Arial,Verdana,sans-serif;
  font-weight:normal;
}

/* Related lists. */
div.MainColumn.HorizontalList img {
    width:126px;
    height:126px;
}
div.MainColumn.HorizontalList .headline {
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    color: #555;    
    margin:0;
    padding:0;
    margin-top:5px;
    border:none;
}
div.MainColumn.HorizontalList h4.headline{
  font-weight: bold;
  color: #900;
  font-size: 13px;
  text-align:right;
}
div.MainColumn.HorizontalList h4.headline a {text-decoration:none}
div.MainColumn.HorizontalList ul {
    padding:0;
}
  div.MainColumn.HorizontalList ul li {
      float:left;
      width:126px;
      padding:0 21px;
  }
    div.MainColumn.HorizontalList ul li:first-child {
        padding-left:0;
    }
    div.MainColumn.HorizontalList ul li:last-child {
        padding-right:0;
    }
div.MainColumn.HorizontalList.RelatedItem ul li.l0.storyItem {
  width:auto !important;
  float:none !important;
  padding:0;
}
/* Default layout for all search pages. */
body.SearchPage div.searchedFor
{
  border-bottom:0;
  margin:10px;
  padding:0;
}

body.SearchPage div#gridMain
{
  width:978px;
  border:1px solid #ababab;
  background:#f0f0f0;
}

body.SearchPage.Aremich div#gridMainColumn {
    width:758px;
    background-color: #FFF;
    border: 1px solid #C3C3C3;
    border-top: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
    border-bottom: 2px solid #C3C3C3;
}

body.SearchPage.Aremich div#gridMainSidebar {
    width:200px;
    margin-left:5px;
    margin-top: 5px;

}
body.SearchPage.Aremich div#gridMainSidebar .MainSidebar{
    width:190px;
    background-color:white;
    border:1px solid #c3c3c3;
    border-top:1px solid #e4e4e4;
    border-left:1px solid #e4e4e4;
    border-bottom:2px solid #c3c3c3;
    padding: 5px;

}
  body.SearchPage.Aremich div#gridMainSidebar .MainSidebar form input.text {
    width:160px;
  }


/* Default layout for listings search pages. */
body.SearchPage.Listings div.searchedFor
{
  margin:0; /* Use default margin for this zone. */
}

/* Different header styles */
body.SearchPage.Listings div.MainSidebar>h3.componentHeader
{
  position:static;
  text-align:inherit;
  font-size:18px;
  font-weight:normal;
}
  body.SearchPage.Listings div.MainSidebar>h3.componentHeader .componentTitle
  {
    background:transparent;
    border:none;
    color:#717171;
    padding:0;
    text-transform:inherit;
  }

body.SearchPage.Listings div.MainSidebar h3
{
  color:#717171;
  margin-bottom:10px;
  margin-top: 0;
  padding-bottom: 5px;

}
body.SearchPage.Listings div.MainSidebar h4
{
  color:#111;
  padding:0 5px;
}

body.SearchPage.Listings div.MainSidebar ul.narrowOptions li
{
  clear:both;
  margin-bottom:4px;
  width:97%;
  overflow:hidden;
}
body.SearchPage.Listings div#gridMainColumn
{
  background-color:white;
  border:1px solid #c3c3c3; border-top:1px solid #e4e4e4; border-left:1px solid #e4e4e4; border-bottom:2px solid #c3c3c3;
  padding:10px;
  width:738px;
}
body.SearchPage.Listings.Chimera div#gridMainColumn
{
    padding:10px;
    width:636px;
}

body.SearchPage.Listings.Chimera div#gridMainSidebar {
    float: right;
    margin: 5px 5px 5px 0;
    width: 302px;
}
body.SearchPage.Listings.Chimera div#gridMainSidebar div.Ad {
      padding:0;
}
body.SearchPage.Listings.Chimera div#gridMainSidebar div.Ad>div {
    margin:0;
    padding:0;
}


/* Listings checkboxes. */
body.SearchPage.Listings .subtractiveSelections ul li {clear:both;}
body.SearchPage.Listings .subtractiveSelections ul li a
{
  background:   transparent url(../images/buttons/subtractiveCheck.gif) no-repeat scroll left top;
  display:      block;
  float:        right;
  font-weight:  normal;
  height:       15px;
  margin-left:  2px;
  text-indent:  -6000px;
  width:        14px;
}

body.SearchPage.Listings .subtractiveSelections ul li a:active,
body.SearchPage.Listings .subtractiveSelections ul li a.off
{
  background-position:-14px top !important;
}


/* Listings search titles. */
body.SearchPage.Listings div.searchedFor .searchHeader
{
  color:#717171;
  display:inline;
  font-size:26px;
  line-height:26px;
}

body.SearchPage.Listings #searchResults
{
  float:none;
  width:auto;
}
  body.SearchPage.Listings #searchResults .listingsResultCount
  {
    margin:10px 0;
  }
  body.SearchPage.Listings #searchResults .alphaNavigation
  {
    border-top:1px solid #c3c3c3;
    font-size:1.2em;
    margin:10px 0;
  }
    body.SearchPage.Listings #searchResults .alphaNavigation>a,
    body.SearchPage.Listings #searchResults .alphaNavigation>strong
    {
      margin:0 0.35em;
    }
  body.SearchPage.Listings #searchResults .descripTxt:after
  {
    content:'\2026';
  }

/* Listings search flyouts. */
body.SearchPage.Listings .cal-wrap {z-index:9001;}
body.SearchPage.Listings .flyout_content
{
  background-color:white;
  border:1px solid #ccc;
  padding:1em;
  position:relative;
  z-index:9001;
}
  body.SearchPage.Listings .flyout_content ul
  {
    margin:0 1em;
  }


/* Special handling for Calendar TOC/Event Search landing. */



/* Member search. */
body.SearchPage.MemberSearch div.searchedFor
{
  margin:0; /* Use default margin for this zone. */
}
body.SearchPage.MemberSearch div.MainSidebar h3
{
  color:#717171;
  margin-bottom:10px;
  margin-top: 5px;
  padding-bottom: 5px;

}
body.SearchPage.MemberSearch div.MainSidebar h4
{
  color:#111;
  padding:0 5px;
}

body.SearchPage.MemberSearch div#gridMainColumn
{
  padding:10px;
  width:738px;
}
body.SearchPage.MemberSearch #searchResults
{
  float:none;
  width:auto;
}
  body.SearchPage.MemberSearch #searchResults #resultsCount
  {
    margin:10px 0;
  }
  body.SearchPage.MemberSearch #searchResults .alphaNavigation
  {
    border-top:1px solid #c3c3c3;
    font-size:1.2em;
    margin:10px 0;
  }
    body.SearchPage.MemberSearch #searchResults .alphaNavigation>a,
    body.SearchPage.MemberSearch #searchResults .alphaNavigation>strong
    {
      margin:0 0.35em;
    }
  body.SearchPage.MemberSearch #searchResults .descripTxt:after
  {
    content:'\2026';
  }


/* Profile page form fields. */
body.ProfilePage dl.formElements dd textarea {width:100%;height:5em;}


/*
 * Classifieds TOC
 */

body.Classifieds div#gridMainColumn
{
  border:0; /* Individual components get boxes around them. */
}
  body.Classifieds div.MainColumn
  {
    border:1px solid #c3c3c3;
    border-top:1px solid #e4e4e4;
    border-left:1px solid #e4e4e4;
    border-bottom:2px solid #c3c3c3;
    margin-bottom:0;
  }
    body.Classifieds div.MainColumn .componentHeader
    {
      background-color:#c00;
      color:white;
      font:bold 19px/24px Helvetica Neue, Arial, Verdana, sans-serif;
      padding:7px 10px;
    }


/* ------------------------------------------------------------------ */
/* Presentation-specific setup                                        */
/* ------------------------------------------------------------------ */

/* Listings search layouts. */
body.SearchPage.Listings #searchResults div.item
{
  background-color:#eee;
  border:1px solid #c3c3c3;
  margin-bottom:1.5em;
}
  body.SearchPage.Listings #searchResults div.item .heading
  {
    margin:10px;
  }
    body.SearchPage.Listings #searchResults div.item .heading .name
    {
      font-family:Georgia,'Times New Roman',Times,serif;
      font-size:1.6em;
    }
    body.SearchPage.Listings #searchResults div.item .heading .ticketing
    {
      float:right;
    }
  body.SearchPage.Listings #searchResults div.item .details
  {
    color:#696969;
    font-size:1.2em;
    font-weight:bold;
    margin:10px;
  }
    body.SearchPage.Listings #searchResults div.item .details a
    {
      color:#696969;
    }
    body.SearchPage.Listings #searchResults div.item .details .address,
    body.SearchPage.Listings #searchResults div.item .details .contact,
    body.SearchPage.Listings #searchResults div.item .details .location
    {
      display:inline;
    }
      body.SearchPage.Listings #searchResults div.item .details .address .street-address:after
      {
        content:' : ';
      }
      body.SearchPage.Listings #searchResults div.item .details .address .locality:after
      {
        content:', ';
      }
      body.SearchPage.Listings #searchResults div.item .details .location .name:after
      {
        content:' : ';
      }
      body.SearchPage.Listings #searchResults div.item .details .location .street-address,
      body.SearchPage.Listings #searchResults div.item .details .location .map,
      body.SearchPage.Listings #searchResults div.item .details .location .city,
      body.SearchPage.Listings #searchResults div.item .details .location .neighborhood
      {
        display:none;
      }
      body.SearchPage.Listings #searchResults div.item .details .location .name:after
    body.SearchPage.Listings #searchResults div.item .details .contact
    {
      display:inline;
    }
      body.SearchPage.Listings #searchResults div.item .details .contact:before
      {
        content:' : ';
      }
  body.SearchPage.Listings #searchResults div.item .summary
  {
    border-top:1px solid #c3c3c3;
    color:#696969;
    font-family:Georgia,'Times New Roman',Times,serif;
    font-size:1.1em;
    line-height:1.6em;
    overflow:hidden;
    padding:5px;
  }
    body.SearchPage.Listings #searchResults div.item .summary>.image.teaser
    {
      float:left;
      margin-bottom:5px;
      margin-right:5px;
    }
    body.SearchPage.Listings #searchResults div.item .summary .description .abbreviated:after
    {
      content:'\2026';
    }
    body.SearchPage.Listings #searchResults div.item .summary .description .more:after
    {
      content:'\00bb';
    }
  body.SearchPage.Listings #searchResults div.item .metadata
  {
    background:#ccc url('../images/backgrounds/locationsearch-columns.png') -40px center repeat-y;
    border-top:1px solid #c3c3c3;
    color:white;
    font-size:1em;
    font-weight:bold;
    overflow:hidden;
  }
    body.SearchPage.Listings #searchResults div.item.event .metadata
    {
      background-color:#999;
      background-position:246px center;
    }
    body.SearchPage.Listings #searchResults div.item .metadata a
    {
      color:white;
    }
    body.SearchPage.Listings #searchResults div.item .metadata>div,
    body.SearchPage.Listings #searchResults div.item .metadata>ol
    {
      float:left;
      padding:5px 10px;
      text-align:right;
    }
      body.SearchPage.Listings #searchResults div.item .metadata>ol>li
      {
        display:inline;
      }
        body.SearchPage.Listings #searchResults div.item .metadata>ol>li:after
        {
          content:',';
        }
          body.SearchPage.Listings #searchResults div.item .metadata>ol>li:last-child:after
          {
            content:'';
          }
      body.SearchPage.Listings #searchResults div.item .metadata>.location-region
      {
        width:240px;
      }
        body.SearchPage.Listings #searchResults div.item.event .metadata>.location-region
        {
          width:525px;
        }
        body.SearchPage.Listings #searchResults div.item .metadata>.location-region .neighborhoodgroup
        {
          display:none;
        }
      body.SearchPage.Listings #searchResults div.item .metadata>.channel
      {
        width:170px;
      }
        body.SearchPage.Listings #searchResults div.item .metadata>.channel .locationsection,
        body.SearchPage.Listings #searchResults div.item .metadata>.channel .eventsection
        {
          display:none;
        }
      body.SearchPage.Listings #searchResults div.item .metadata>.features
      {
        width:190px;
      }
      body.SearchPage.Listings #searchResults div.item .metadata>.price
      {
        width:55px;
      }
      #BlogEdit .contentBody blockquote {
        width: 80%;
        border-left: 2px solid #CCC;
        font-family: Georgia,"Times New Roman",Times,serif;
        padding: 0px 0px 0px 10px;
        margin: 15px auto;
      }
.inlineComponent.inlineLeft {
  float: left;
  margin: .25em 10px .25em 0;
}
.inlineComponent.inlineRight {
  float: right;
  margin: .25em 0 .25em 10px;
} 
.inlineComponent.inlineCenter{
  margin:.5em auto;
  text-align: center;
}
.inlineComponent.inlineCenter div {
  margin:auto;
}  

.inlineComponent.inlineLeft {
  float: left;
  margin: .25em 10px .25em 0;
}
.inlineComponent.inlineRight {
  float: right;
  margin: .25em 0 .25em 10px;
} 
.inlineComponent.inlineCenter{
  margin:.5em auto;
  text-align: center;
}
.inlineComponent.inlineCenter div {
  margin:auto;
}  

.socialLogInHolder a {
  color:#000;
  }
/* -- Global Drop Cap Style -- */
.fdnDropCap {
    display: block;
    float: left;
    font-size: 5em;
    margin: 20px 10px;
    font-weight: 700;
    line-height: 0.5em;
}

#Location #MagnumImage>div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-justify-content:flex-end;
  justify-content: flex-end;
  font-size: 0;
}
#Location #MagnumImage img{
  order:1;
}
#Location #MagnumImage .credit {
  order:3;
  font-size: 11px;
}
#Location #MagnumImage .caption{
  order:2;
  font-size: 12px;
}
#Location #MagnumImage .credit+.caption::after{
  content: ", ";
  font-size: 12px;
  margin: 0 3px 0 -3px;
}
#Location #MagnumImage .credit,
#Location #MagnumImage .caption {
  display: inline-block;
  margin: 0;
  text-transform: none;
}