/* SF Weekly */
/* ------------------------------------------------------------------------------  */
/* REMEMBER! REMEMBER! REMEMBER! REMEMBER! REMEMBER! REMEMBER! REMEMBER! REMEMBER! */
/*                                                                                 */ 
/*              ALL CUSTOM STYLES MUST BE ADDED TO MOBILE STYLES AS WELL!          */
/*                                                                                 */
/*                                                                                 */ 
/* ------------------------------------------------------------------------------- */
/* Publication-specific style rules */

/* Webfonts */
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");

/* Colors:
Links, Rules: #900
Backgrounds:  #c00
Pencil lines: #ccc
 */

h1.headline {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 35px;
    margin: 0 0 5px;
    padding: 0;
    color: black;
    border: none;
}

h2 {
    font-size: 26px;
    line-height: 26px;
    color: #717171;
    border-bottom: 1px solid #C3C3C3;
    padding: 5px 10px;
    margin: 0px 0px 10px 0px;
    font-family: 'helvetica neue', Arial, Verdana, sans-serif;
    font-weight: normal;
}
h2.subheadline{
    font-size: 14px;
    font-family: 'helvetica neue', Arial, Verdana, sans-serif;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    color: hsl(0, 0%, 44%);
    border:none;
}
h3 {
    font-size: 18px;
    line-height: 18px;
    color: #aaa;
    border: none;
    padding: 0;
    margin: 10px 0px 0px;
    font-family: 'helvetica neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h3.postTitle{
    border-bottom: 0px;
    padding: 5px 0 0;
    font-size: 26px;
    line-height: 1.15em;
    color: black;
    margin: 0;
}
h4 {
    font-size:16px;
    line-height:16px;
    color:#aaaAAA;
    border:none;
    font-family:  'helvetica neue', Arial, Verdana, sans-serif;
    font-weight:bold;
}
a {
    text-decoration: none;
    color: #900;
}

.byline{
    font-family: 'helvetica neue', Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: hsl(0, 0%, 53%);
    margin: 10px 0px 0px 0px;
    display:block;
}    

/* Contact info in bylines. */
cite.byline .email,
cite.byline .facebook,
cite.byline .googleplusurl
{
 display:inline-block;
 height:14px;
 margin:0.5em 0;
 line-height:18px;
 overflow:hidden;
 width:14px;
}
cite.byline .twitter {
 display:inline-block;
 height:14px;
 margin:0.5em 0;
 line-height:14px;
 width:14px;
}
cite.byline .twitter a
{
 background:transparent url('../images/icons/twitter-14x14.png') no-repeat center;
 display:block;
 height:14px;
 text-indent:-6000px;
 width:14px;
}
cite.byline .googleplusurl a
{
 background:transparent url('../images/icons/google-plus-14x14.png') no-repeat center;
 display:block;
 height:14px;
 text-indent:-6000px;
 width:14px;
}
h4.postedBy .googleplusurl
{
 display:inline-block;
 height:14px;
 margin:0.5em 0;
 line-height:14px;
 overflow:hidden;
 width:14px;
}
h4.postedBy .twitter
{
 display:inline-block;
 height:14px;
 margin:0.5em 0;
 line-height:14px;
 width:14px;
}
h4.postedBy .twitter a
{
 background:transparent url('../images/icons/twitter-14x14.png') no-repeat center;
 display:block;
 height:14px;
 text-indent:-6000px;
 width:14px;
}
h4.postedBy .googleplusurl a
{
 background:transparent url('../images/icons/google-plus-14x14.png') no-repeat center;
 display:block;
 height:14px;
 text-indent:-6000px;
 width:14px;
}

/* Publication-specific graphics. */
div#NavigationandSearch .microcomponents .NavigationBlogTeaser .componentHeader a.newsBlog
{
  background:url("../images/components/subnav/newsblog-175x30.jpg") bottom center no-repeat;
  display:block;
  height:53px;
  width:175px;
}
div#NavigationandSearch .microcomponents .NavigationBlogTeaser .componentHeader a.musicBlog
{
  background:url("../images/components/subnav/musicblog-175x30.jpg") bottom center no-repeat;
  display:block;
  height:53px;
  width:175px;
}
div#NavigationandSearch .microcomponents .NavigationBlogTeaser .componentHeader a.diningBlog
{
  background:url("../images/components/subnav/foodblog-175x30.jpg") bottom center no-repeat;
  display:block;
  height:53px;
  width:175px;
}
div#NavigationandSearch .microcomponents .NavigationBlogTeaser .componentHeader a.cultureBlog
{
  background:url("../images/components/subnav/artsblog-175x30.jpg") bottom center no-repeat;
  display:block;
  height:53px;
  width:175px;
}

/* Search the Archive Teaser */
body#Home div#SearchtheArchive .componentBody a {
  display:block;
  background:url("../images/backgrounds/Archive_webV2.jpg") center center no-repeat;
  width:980px; height:230px;
  text-indent:-6000px;
}


div#NavigationandSearch .microcomponents .NavigationStoryTeaser.NavigationFindaRestaurant>ul>li
{
  width:175px;
}
div#NavigationandSearch .microcomponents .NavigationStoryTeaser.NavigationFindaRestaurant .componentHeader
{
  border-bottom:1px solid #ccc;
  display:block;
  height:70px;
  margin-bottom:0.5em;
  padding-bottom:0.5em;
  width:175px;
}
  div#NavigationandSearch .microcomponents .NavigationStoryTeaser.NavigationFindaRestaurant .componentHeader img
  {
    background-color:#c00;
  }
div#NavigationandSearch .microcomponents .NavigationStoryTeaser.NavigationFindaRestaurant .image.teaser
{
  height:70px;
  width:70px;
}
div#NavigationandSearch .microcomponents .NavigationStoryTeaser.NavigationFindaRestaurant .tagline
{
  display:none;
}

div#NavigationandSearch .microcomponents .NavigationEventTeaser
{
  width:200px;
}
  div#NavigationandSearch .microcomponents .NavigationEventTeaser .componentHeader
  {
    display:block;
    margin-bottom:1em;
  }
  div#NavigationandSearch .microcomponents .NavigationEventTeaser .channel,
  div#NavigationandSearch .microcomponents .NavigationEventTeaser .date,
  div#NavigationandSearch .microcomponents .NavigationEventTeaser .description,
  div#NavigationandSearch .microcomponents .NavigationEventTeaser .tagline
  {
    display:none;
  }
  div#NavigationandSearch .microcomponents .NavigationEventTeaser .title
  {
    font-family:'Helvetica Neue',Arial,sans-serif;
    font-size:1em;
    font-weight:bold;
    line-height:1.2em;
    margin:0 0 0.5em;
  }
  div#NavigationandSearch .microcomponents .NavigationEventTeaser .location
  {
    color:hsl(0, 0%, 53%);
    font-size:0.9em;
    font-weight:bold;
  }
    div#NavigationandSearch .microcomponents .NavigationEventTeaser .location a
    {
      color:hsl(0, 0%, 53%) !important;
    }
  div#NavigationandSearch .microcomponents .NavigationEventTeaser li.event.teaser
  {
    border-top:1px solid #ccc;
    padding:1em 0;
  }
    div#NavigationandSearch .microcomponents .NavigationEventTeaser li.event.teaser:first-child
    {
      border-top:0;
      padding-top:0;
    }
    div#NavigationandSearch .microcomponents .NavigationEventTeaser li.event.teaser:last-child
    {
      border-bottom:0;
      padding-bottom:0;
    }

/* Site wide shared component styles */
#Event #EventMetaData,
#Event #EventDescription,
#Event #EventLocation,
#Event #EventTags,
#Event #LiveFyreComments {margin:10px;}
body#Event div#gridMainSidebar {padding-top:0;}
#Event #EventDescription.MainColumn.Event {font-family:georgia,'times new roman',times,serif;}
#Event #EventMetaData {margin-top:0;}
#Location #LocationMetaData,#Location #LocationDescription,#Location #LocationTags,#Location #LocationRestaurantDetails {
  margin: 0 0 10px;
  overflow: hidden;
}
#Event #EventMetaData,#Event #EventDescription h2.featuredEventHeadline{overflow:hidden;}
body#Location div#gridMainSidebar {padding-top:0;}
#Location .MainSidebar.Location {padding:10px;}
#Location .MainSidebar.Location h3 {margin:0;}
#Location #LocationDescription.MainColumn.Location {font-family:georgia,'times new roman',times,serif;}

#Map #LocationMetaData,
#Map #LocationDescriptionJr,
#Map #LocationTags,
#Map #MapLarge {margin:10px;}
body#Location div#gridMainSidebar {padding-top:0;}
#Map .MainSidebar.Map {padding:10px;}
#Map .MainSidebar.Map h3 {margin:0;}
#Map #LocationDescriptionJr.MainColumn.Map {font-family:georgia,'times new roman',times,serif;}
  /* Slideshow Social Buttons */
#ToolBarSlideshow a:hover {
    opacity: .7;

}
#ToolBarSlideshow div.l0 {
    width: auto !important;
    float: left !important;
}
#FacebookNonJavascript,
#TwitterWebIntent,
#Google1NonJavascript,
#RedditNonJavascript,
#Emailmailto,
#FacebookDynamic,
#TwitterDynamic,
#Google1Dynamic,
#RedditDynamic,
#EmailDynamic{
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}


#FacebookNonJavascript,#FacebookDynamic {
    background-image: url("../images/mobile/social-facebook.png")
}
#TwitterWebIntent,#TwitterDynamic {
    background-image: url("../images/mobile/social-twitter.png")
}
#Google1NonJavascript,#Google1Dynamic {
    background-image: url("../images/mobile/social-google-plus.png")
}
#RedditNonJavascript,#RedditDynamic {
    background-image: url("../images/mobile/social-reddit.png")
}
#Emailmailto,#EmailDynamic {
    background-image: url("../images/mobile/social-email.png")
}
.slideshowDesc {
    margin: 15px 0;
    color: #404040;
    line-height: 1.6em;
    text-align: left;
    font-size: 1.1em;
}
div#SlideshowFullPageNew .date {
    color: #6C5D44;
    font-size: 11px;
}
div#SlideshowFullPageNew  .credit {
    color: #C0C0C0;
    font-size: 0.7em;
    text-align: right;
}
body#Slideshow div.slideshowPrevNext {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    margin: 10px auto;
    width: 300px;
    height: 40px;
    clear: both;
        position: static!important;
}
body#Slideshow div.slideshowCount {
    text-align: center;
    position: static!important;
    width: 120px;
    margin: auto;
}
div#SlideshowFullPageNew .slideImgWrapper {
    margin: 10px auto 0;
}
.slideOverlay {
    z-index: 8044400001;
}
/* === Inline Connections === */
div.connection {
  margin: 1em auto;
  width: 100%;
  border-bottom: 1px solid #CCC;
  padding-bottom: 0.5em;
  font-size:12px;
}
div.connection::after{
  content: "";
  display: block;
  clear: both;
  height:0;
}
div.connection>a {
    color: #111;
}
div.connection h5 {
  font-weight: bold;
  text-decoration: none;
  margin: 0.5em 0;
  font-size: 17px;
  border-bottom: 1px solid #CCC;
  line-height: 1em;
  padding-bottom: 0.25em;
}
div.connection h5 a{
  color: #666;
}
div.connection h5 span.typeHeader {
  text-transform: uppercase;
  font-weight: normal;
  font-size:11px;
}
div.connection.slideshow h5 span.typeHeader {
  font-size:0.75em
}

/* Stack headers for Location, Event, Film, and Poll */
div.connection.location h5 span.typeHeader,
div.connection.event h5 span.typeHeader,
div.connection.film h5 span.typeHeader,
div.connection.poll h5 span.typeHeader {
  display: block;
}

/* Add a colon to the header prefix for non-stacked */
div.connection.content h5 span.typeHeader::after {
  content: ":";
}
#storyBody div.connection.content h5 a,
div.connection.content h5 a {
  color: #c00;
}
/* Connection Content */
div.connection.content img {
  float: left;
  margin: 0 0.5em 0 0;
}
div.connection.content a div.subHeadline,
div.connection.content a div.summary {
  color: #000;
  font-weight: normal;
}
div.connection.content a div.author,
div.connection.content a div.category {
  color: #667;
  font-weight: normal;
}


/* content adjustments */
.content.connection{
    border: none;
   padding: 0 2em;
   box-sizing:border-box;
}
.content.connection h5,
#storyBody .content.connection h5{
  border: none;
  margin:.5em 0; 
  padding: 0;
  font-size: 14px;
}
.content.connection h5 a:hover .subHeadline, 
.content.connection h5 .subHeadline:hover {
    color: inherit;
}
.content.connection h5 .subHeadline {
  font-weight: 400;
  color:#676767;
}
.content.connection h5+* {
    display: none;
}
/* Connection Slideshows */
div.slideshow.connection a.leadImage {
  width: 100%; /* override this value to accommodate different column widths */
  height: auto;
  background-color: #333;
  -webkit-justify-content:center;
  justify-content: center;
  margin: 0 0 5px 0;
  float: left;
  position: relative;
  overflow: hidden;
}
div.slideshow.connection a.leadImage img {
  height: 100%;
  width: auto;
  display: block;
  object-fit: contain;
  margin: 0 auto;
}
div.slideshow.connection a.leadImage span.count {
  color: #fff;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.06) 53%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(53%, rgba(0, 0, 0, 0.06)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.06) 53%, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.06) 53%, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.06) 53%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.06) 53%, rgba(0, 0, 0, 1) 100%);
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: auto;
}
div.slideshow.connection a.leadImage span.count::before {
  content: "";
  display: block;
  padding-top: 100%;
}
div.slideshow.connection a.leadImage span.count-inner {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
}
div.slideshow.connection div.thumbnails {
  margin: 0 0 5px;
  float: left;
  width: 100%;
}
div.slideshow.connection div.thumbnails a {
  display: block;
}
div.slideshow.connection div.thumbnails a:nth-child(n+7) {
  display: none;
}
div.slideshow.connection div.thumbnails img {
  float: left;
  margin: 0;
  width: calc(100%/6 - 5px);
  height: auto;
}
div.slideshow.connection div.thumbnails a:nth-child(n+1):nth-child(-n+5) img {
  margin-right: 6px;
}
div.slideshow.connection div.caption {
  text-align: center;
  clear: both;
  margin: .15em 0 0;
}
div.slideshow.connection div.slideshowLink a {
  color: #fff!important;
  background-color: #667;
  padding: 8px 8px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 1em;
  display: inline-block;
  margin: 0.5em auto;
}
div.slideshow.connection div.caption .summary,
.slideshow.connection h5 .title {
    display: none;
}
div.slideshow.connection .caption .title {
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
div.slideshow.connection .caption .title a {
  color: #000;
}
/* Connection Event Location */
div.event.connection div.infoImage,
div.location.connection div.infoImage {
  width: 60%;
  float: left;
}
div.event.connection div.infoImage img,
div.location.connection div.infoImage img {
  float: left;
  max-width: calc(50% - 0.5em);
  margin: 0 0.5em 0 0;
  height: auto;
}
div.event.connection div.info,
div.location.connection div.info {
  float: left;
  width: calc(50% - 0.5em);
}
div.event.connection div.info > div,
div.location.connection div.info > div {
  margin: 0 0 0.5em 0;
}
div.event.connection.noImage div.info,
div.location.connection.noImage div.info {
  float: left;
  width: 100%;
}
div.event.connection a div.info,
div.location.connection a div.info {
  color: initial;
  font-weight: initial;
  line-height: 1.25em;
}
div.event.connection div.locationName {
  font-weight: bold;
}
div.location.connection .hours,
div.event.connection div.time {
  font-style: italic;
}
div.location.connection div.locationCategory,
div.event.connection div.eventCategory,
div.location.connection div.url,
div.event.connection div.url {
  color: #666;
}
div.location.connection .map,
div.event.connection .map {
  line-height: 1em;
  padding-bottom: 0.25em;
  float: right;
  width: calc(40% - 1px);
  height: 150px;
  margin: 0!important;
}
.connection .altMapLink {
  opacity: 0;
  display: none
}

/* Connection Film */
div.film.connection div.image { float: left; }
div.film.connection div.image a { float: left; }
div.film.connection div.image img {
  float: left;
  margin: 0 0.5em 0 0;
}
div.film.connection a div.info {
  color: initial;
  font-weight: initial;
  line-height: 1.25em;
}
div.film.connection div.info > div {
  margin: 0 0 0.5em 0;
}
div.film.connection div.info > div.rating {margin-bottom: 0;}
div.film.connection div.rating { display: inline-block; }
div.film.connection div.rating > div { float: left; }
div.film.connection div.rating div.ratingHeader { margin-right: 0.5em; }
div.film.connection div.rating,
div.film.connection div.filmMetaData,
div.film.connection div.genre,
div.film.connection div.url {
  color: #666;
}

/* Connection Poll */
div.poll.connection li.pollItem,
div#storyBody div.poll.connection li.pollItem {
  margin: 0.5em 0;
  list-style: none;
}
.poll.connection .image img {
    float: right;
}
div.poll.connection ul {
  margin: 0;
  padding: 1px;
}
div.poll.connection input[type=submit] {
  display: block;
  margin: 0.5em auto;
  clear: both;
  color: #fff;
  font-weight: bold;
  background-color: #667;
  padding: 8px 8px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
}
div.poll.connection a.results {
  text-align: center;
  display: block;
  font-weight: normal;
}

.pdf.connection h5 span.typeHeader {
  display: block;
  padding-left: 20px;
  background: url(../foundation/images/icons/PDFicon_32x32.png) left center no-repeat transparent;
  background-size: 20px;
}


.pdf.connection iframe {
   width: 100%;
   margin: auto;
   display:block;
}

.pdf.connection .inlinePDFCaption {
  text-align: left;
  color: #222;
  font-size: 14px;
  margin: 2px 0 0;
  line-height: 1.2;
}

.pdf.connection .inlinePDFCredit {
  text-align: right;
  font-size: 11px;
  margin-top: 2px;
  line-height: 1.1;
  color: #999
}
/* === End Inline Connections === */



div#storyBody div.film.connection div.info .synopsis p {
  font-size: 12px;
  line-height: 1.2;
  margin: 3px 0;
}div.ContentFullWidth {
  margin: 0 0 15px
}
.ContentFullWidth div.connection {
  font-size: 14px
}
.ContentFullWidth div.connection.location h5 span.typeHeader,
.ContentFullWidth div.connection.event h5 span.typeHeader,
.ContentFullWidth div.connection.film h5 span.typeHeader,
.ContentFullWidth div.connection.poll h5 span.typeHeader {
  display: inline-block;
}
.ContentFullWidth div.connection.location h5 span.typeHeader::after,
.ContentFullWidth div.connection.event h5 span.typeHeader::after,
.ContentFullWidth div.connection.film h5 span.typeHeader::after,
.ContentFullWidth div.connection.poll h5 span.typeHeader::after {
  content: ": "
}
.ContentFullWidth #storyBody .connection h5 a,
.ContentFullWidth .connection h5 a {
  color: #000;
}
div#StoryBreadcrumb.ContentFullWidth {
  clear: both;
}
.ContentFullWidth .storyHead {
  text-align: center;
  clear: both;
  margin: 10px 0 0;
}
.ContentFullWidth .storyHead h1 {
  font-weight: 700;
  font-size: 33px;
  margin: 0 auto 5px;
}
.ContentFullWidth .storyHead h2 {
  font-size: 22px;
  color: #444;
  margin: 0 auto 5px;
  max-width: 600px;
}
.ContentFullWidth .storyHead .byline {
  color: #777;
  letter-spacing: 1px;
}
.ContentFullWidth .storyHead .date {
  display: none;
}
.ContentFullWidth  div#storyBody {
  padding-left: 125px;
  padding-right: 125px;
  font-size: 17px !important;
  line-height: 1.5 !important;
}
.ContentFullWidth  .contentImageCenter {
  margin: 1em -125px !important;
  width: auto !important;
}
.ContentFullWidth  div#storyBody p {
  margin: 1em auto;
}
.ContentFullWidth  div#storyBody .Ad {
  text-align: center;
  margin: 0 auto 1em;
}
.ContentFullWidth  div#storyBody .Ad>div {
  display: inline-block;
}

.ContentFullWidth #MagnumImage .magnumContainer {
   display:inline-block;
   }
.ContentFullWidth #MagnumImage{text-align:center;}   

.ContentFullWidth #MagnumImage,
.ContentFullWidth .contentImageCenter {
  clear:both;
}  