*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	height: 100%;
}

body {
  height: 100%;
  background: #fff;
  padding: 0 1.5em;
  margin: 0 auto 0;
  max-width: 1020px;
  /*text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;*/
}

a:link {
  color: #0070bb;
  text-decoration:none;
}

a:visited {
  color: #993399;
}

a:hover {
  color: #0070bb;
  text-decoration:underline;
}

#banner-billboard {
  text-align: center;
  margin:0;
  padding:0;
}

#banner-movil, #robapaginas-movil, #index-mob-r {
  display:none;
}

#supra-header {
  position: relative;
  padding: .40em 0 .5em 0;
  border-bottom: 2px solid #ddd;
}

#header {
  font: .9em/1.8 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  text-transform:uppercase;
  font-weight: bold;
  letter-spacing: 0.02em;
  position: relative;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 0;
}

.header a {
  color: #000;
 text-decoration:none;
}

.header a:visited {
  color: #000;
 text-decoration:none;
}

.header a:hover {
  color: #0070bb;
}

img.header a:hover {
 border-bottom: 2px none #fff;
 text-decoration:none;
}

#container {
  position: relative;
}

#columna-derecha { 
  font: 1em/1.4 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  color: #666;
  padding: 0;
  width:300px;
  margin: 0 auto;
}

#columna-post {
  color: #333;
  padding: 0;
  max-width:600px;
}

#columna-post-wtf {
  width:100%;
}

.articulo {
  margin: 0 0 1em 0;
  font: 1.2em/1.6 Georgia, Times, "Times New Roman", serif;
  border-bottom: 1px solid #ccc;
}

.articulo li {
  font-size:90%;
}

.pagina {
  margin: 0 0 1em 0;
  font: 1.2em/1.6 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.pagina li {
  font-size:90%;
}

.logo-movil {
  display: none;
  }
.social {
 display:none;
 }

.nav-movil {
  display: none;
  }

.nav-desk {
  width:100%;
  text-align:left;
  border-bottom: 1px solid #ddd;
  list-style: none;
  padding: .1em 0;
  margin-top: -.5em;
}

.nav-desk a {
  padding: 0 1em 0 0;
}

.nav {
  float: right;
  list-style: none;
  margin: 0;
}

.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.social {
  float: right;
  list-style: none;
  margin: 0;
}

.social > li,
.social > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin-left: 0;
  padding: 0 4px;
  margin-top: 4px;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding: 0;
  padding-right: 2px;
}

.inline-items li:last-child {
  padding-right: 0;
}

.autor {
  padding: 0 0 1em;
  font: 0.75em/1.8 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  text-transform:uppercase;
  color: #666;
}

.autor a {
  color: #0070bb;
  text-decoration:none;
  font-weight:bold;
}

.autor a, .autor a:visited {
  color: #0070bb;
  text-decoration:none;
  font-weight:bold;
}

.autor a:hover {
   color: #000;
   text-decoration:none;
}

.compartir-post {
  text-align:right;
  display: block;
  padding-top: 1em;
}

.tags {
  padding: 0;
  margin: 0;
  text-align:left;
  font: 0.75em/1.4 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  text-transform:uppercase;
  color: #666;
}

.tags a {
  /*background-color: #ccc;*/
  color: #acacac;
  text-decoration:none;
  font-weight:bold;
}

.tags a, .tags a:visited {
  color: #acacac;
  text-decoration:none;
}

.tags a:hover {
   color: #666;
   text-decoration:underline;
}

#pre-footer {
  padding: 1em;
  position: relative;
  font: 0.75em/1.8 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  text-transform:uppercase;
  color: #333;
  max-width:600px;
}

#pre-footer-wtf {
  padding: 1em;
  position: relative;
  font: 0.75em/1.8 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  text-transform:uppercase;
  color: #333;
}

#footer {
  padding: 1.5em 0 2em 0;
  position: relative;
  text-align:center;
  font: 0.8em/1.8 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  color: #333;
  border-top: 1px solid #ccc;
}

.footer a {
  color: #0070bb;
 text-decoration:none;
 padding: 1em;
}

.footer a:visited {
  color: #0070bb;
 text-decoration:none;
}

.footer a:hover {
  color: #000;
}


/* TIPOS */

h2 {
  font: 1.1em/1.2 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  text-transform:uppercase;
  color: #333;
  padding: 1.5em 0 2%;
  font-weight: bold;
  margin: 0;
}

.archivos h3 {
  font: 1.2em/1 Georgia, Times, "Times New Roman", serif;
}

.pagina h3 {
  font: 1.1em/1 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  color: #666;
  text-transform:none;
  margin: 0;
  padding: .5em 0 2%;
  font-weight: bold;
}

.title h1 {
  font: 1.9em/1.1 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  color: #000;
  font-weight: bold;
  letter-spacing: -0.04em;
  *letter-spacing: -0.8em;
  word-spacing: -0.03em;
  color: #333;
  display: inline-block;
  width: 100%;
  margin: 0 0 .6em;
}

.title h1 span {
  margin: 0;
  border-bottom: none;
  color: #000;
}

.title h1 span a {
  text-decoration: none;
  border: none;
  color: #000; !important;
}

.title h1 span:hover>a {
  color: #000; !important;
}

p {
  margin: 0;
  padding: 0.5em 0;
}

.articulo img {
  text-decoration: none;
  border: none;
  max-width: 100%;
}

.imagen img {
  margin: 0.4em 0;
  max-width: 700px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.video-container {
  background: #fff;
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  background: #fff;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:0.4em 0;
}

ul {
margin-top: 0.1em;
}

hr {
  clear:both;
  color:#ccc;
  background-color:#ccc;
  height:1px;
  border:none;
}

.titulares_ED span {
  padding: 0.4em 0;
  display:block;
  font: 1.1em/1.2 Georgia, Times, "Times New Roman", serif;
  border-bottom: 1px dotted #ccc;
}

.titulares_ED span a {
  color:#333;
}

.titulares_ED_link a {
  font-size: 1.2em;
  color:#999;
  text-decoration:none;
}

/* PAGINATION */

.pagination {
  margin-left:-30px;
  text-align:center;
  padding-bottom:40px;
}

.pagination ul {
  font: 1em/1.8 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  text-transform:uppercase;
  display:inline-block;
}
.pagination ul li {
  margin-right:6px;
  float:left;
  position:relative;
  display:block;
  list-style:none;
  line-height:120%;
}

.pagination ul li a,ul li.a-disabled ul li.current {
  text-decoration:none
}

.pagination ul li a {
  border:1px solid #ccc;
  background:#f1f1f1;
  color:#0070bb;
}

.pagination ul li a:hover {
  background:#0070bb;
  color:#fff;
}

.pagination ul li.current a {
  font-weight:bold;
  background:#0070bb;
  color:#fff;
}


.pagination ul li a,ul li.a-disabled {
  padding:6px 10px 6px 10px;
}

/* ESTILOS HEREDADOS */

tt {
font-size: 130%;
}

.ejemplo {
display: block;
background: #e4f3d4;
color: #308a30;
padding: 10px;
font-size:90%;
}
.nota {
display: block;
background: #f0f0f0;
color: #333;
padding: 10px;
font-size:90%;
}

.intro {
display: block;
color: #333;
font-weight: normal;
padding-bottom: 10px;
border-bottom: 1px dotted #009900;
}
acronym {
border-bottom: 1px dotted #009900
}

.frase {
color: #666;
display: block;
background: url(comillas.png) no-repeat left top;
font-size: 130%;
line-height:120%;
margin: .2em .4em;
padding: .2em .2em 0 2em;
letter-spacing: -0.03em;
}

.curio {
color: #666;
margin-left: 0;
display: block;
margin-right: .4em;
font-size: .9em;
font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
line-height: 140%;
background: url(curiosidad.gif) no-repeat left top;
padding: 0 .2em 0 1.8em;
margin-top: 1em;
margin-bottom: 1em;
}

blockquote {
color: #666;
margin: 0.5em 0;
display: block;
font-size: .9em;
font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
line-height: 140%;
background: url(comillas.png) no-repeat left top;
padding: .2em .2em 0 2em;
}

abbr, acronym {
 border-bottom: 1px dotted #666;
 }

blockquote ul li, blockquote ol li {
margin-left: -25px;
}

cite {
  display:block;
  font: 0.75em/1.3 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  color: #666;
  margin: -5px 0;
  padding: 10px 0 5px 0;
}


.articulo table {
font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
color: #333;
font-size:80%;
border-bottom: 2px solid #ccc
margin-bottom:10px;
}
.articulo td {
border-bottom: 1px solid #ccc;
padding: 0;
}
.articulo th {
border-bottom: 2px solid #ccc;
padding: 0;
}

#comments {
  display:block;
  padding: 0 1em;
}

.comment-metadata {
  font: 0.8em/1.3 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  font-weight:bold;
  color:#666;
}

.comment {
 border-bottom: 1px dotted #ccc;
}

.mas {
  margin-top: 1.4em;
}

.mas ul li {
  font: 0.9em/1.3 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  margin-left:-1em;
  padding-left:0;
}

.comments {
  font: 0.8em/1.3 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

/* MEDIA QUERIES */

/* MOBILE */

@media screen
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2), 
screen
and (max-device-width: 480px)
and (min-resolution: 192dpi) {
  p {
    font-size:100%;
  }
  .articulo img {
  max-width: 100%;
}

.articulo li {
  font-size:100%;
}

.pagina {
  margin: 1em;
  font: 1em/1.4 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.imagen img {
  margin: 0;
  /*display: block;*/
  max-width: 700px;
  text-decoration: none;
  width: 100%;
  border: none;
  border-radius: 5px;
}

#banner-billboard {
  display:none;
}

#banner-movil, #robapaginas-movil, #index-mob-r {
  display:block;
  text-align:center;
  padding:0;
  margin: 1em 0 1em 0;
}

  #header {
  font-size:70%;
  padding: .5em 2em 1em 2em;
  border-bottom: 1px none #ccc;
  text-align:center;
  }
  .logo {
  display:none;
  }
  .nav-desk {
  display:none;
  }
  .logo-movil {
  display:block;
  }
 .logo-ed {
  display:block;
  }
  .social {
  display:block;
  }
  .autor {
  padding: 0 0 1em;
  font: 0.6em/1.8 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  text-transform:uppercase;
  color: #666;
  }
  .tags {
  font: 0.6em/1.8 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  padding-top: 1em;
  }
  .frase {
  font-size: 110%;
  margin: 0.2em;
  padding: 0.2em 0.2em 0 2em;
  }
  #pre-footer, #footer {
    font-size:75%;
  }
  #columna-derecha {
  margin: 0 auto;
  max-width:300px;
  }
 
h2, h3, h4 {
    font-size:100%;
  }

  
 h1 {
  font: 1em/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  }
  .title h1 {
  font: 1.4em/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0em 0 .6em;
  font-weight: bold;
  }
  .articulo {
  padding: 0 1em;
  }
  .nav {
  display:none;
  }
  .nav-movil {
  display: block;

  }
  .nav-movil a {
  color: #999;
  text-decoration:none;
  padding: .8em;
 }
 
  #skin {
    display:hidden;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  #columna-post {
   margin: 0 auto;
   max-width:700px;
   }
  #columna-post-wtf {
   margin: 0 auto;
   max-width:700px;
   }
  #columna-derecha {
   margin: 0 auto;
   max-width:300px;
  }
  #header {
  border-bottom: 1px none #eee;
  padding: 1em;
  }
 #pre-footer {
   max-width:700px;
  }
  #banner-billboard {
  display:none;
  }
  #skin {
    display:hidden;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width: 480px)
and (orientation : portrait) {
  body {
   padding:0;
   }
  #columna-post {
   margin: 0 auto;
   padding: 0;
   }
   
  #columna-post-wtf {
   margin: 0 auto;
   padding: 0;
   }
   

  #columna-derecha {
   margin: 0 auto;
   max-width:300px;
  }
  #header {
  padding: .5em 0;
  border-bottom: 1px solid #eee;
  }
    #skin {
  display:hidden;
  }
}


@media only screen
and (min-device-width : 320px) 
and (max-device-width: 480px)
and (orientation : landscape) {
  body {
  padding:0;
  }
  .footer a {
  font-size:80%;
  }
  .nav-movil {
  padding: 0;
  }
  .articulo img {
  margin: 0;
  }
  .autor, .tags {
  font-size:40%;
  } 
  p {
  font-size:60%;
  } 
  #footer {
  text-size:120%;
  }
  #columna-post {
   margin: 0 auto;
   }
   #columna-post-wtf {
   margin: 0 auto;
   }
  #columna-derecha {
   margin: 0 auto;
   max-width:300px;
   font-size:150%;
  }
  #header {
  font-size:75%;
  padding: .5em 0;
  border-bottom: 1px solid #eee;
  }
  #skin {
  display:hidden;
  }
}

@media only screen
and (min-width: 900px ) {
   #columna-post {
   margin-right: 19em;
   }
   #columna-post-wtf {
   margin-right: 19em;
   }
   #columna-derecha { 
   margin: 0 auto;
   position: absolute; top: 0; right: 0; width: 300px;
	} 
   p, .footer {
   font-size:90%;
   }
   h2, h3, h4 {
   font-size:100%;
   }
   h1 {
   font: 1em/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: bold;
   } 
     #skin {
  display:hidden;
  }
}